<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <div class="md-toolbar-tools">
    <span routerLink="/">Ruben's Homepage</span>

    <!--<button mat-button routerLink="/#posaunenchor">Posaunenchor</button>-->
    <!--md-button ng-href="/#ejw">EJW</md-button-->
    <!--<md-button ng-href="/#tischtennis">Tischtennis</md-button>-->
    <button mat-button routerLink="/weihnachtsmarkt">Weihnachtsmarkt</button>
    <button mat-button routerLink="/putzplan">Putzplan</button>
  </div>

</mat-toolbar>

<mat-card>
  <router-outlet></router-outlet>
</mat-card>

<mat-card>
  <mat-card-content>
    <div layout="column">
      <div layout="row">
        <div flex></div>
        <button mat-button routerLink="/impressum">Impressum</button>
        <button mat-button routerLink="/datenschutz">Datenschutz</button>
        <button mat-button routerLink="/disclaimer">Haftungsauschluss</button>
        <div flex></div>
      </div>
    </div>
  </mat-card-content>

</mat-card>
