<mat-card>
  <mat-card-title>Impressum</mat-card-title>

  <mat-card-content>
    <mat-card-subtitle>Angaben gemäß § 5 TMG:</mat-card-subtitle>

    <p>Ruben Schwarz<br />
      Hauptstr. 19/1<br />
      75391 Gechingen
    </p>
    <mat-card-subtitle>Kontakt:</mat-card-subtitle>
    <table><tr>
      <tr><td>E-Mail:</td>
        <td>schwarzruben+kontakt@googlemail.com</td>
      </tr></table>
    <p> </p>
    <p>Quelle: <em><a href="http://www.e-recht24.de">http://www.e-recht24.de</a></em></p>
  </mat-card-content>
  <div flex="20"></div>
</mat-card>
