

  <div layout="row">
    <h1>Putzplan {{year}}</h1>
    <button mat-button (click)="onPdf()">pdf</button>
  </div>

  <div class="putzplan">
    <!--
    <table>
      <col ng-repeat="m in month"/>
      <tr class="monat">
        <td ng-repeat="m in month">{{m}}</td>
      </tr>

      <tr ng-repeat="row in putzplan">
        <td ng-repeat="col in row track by $index" ng-class="{active: col.day==currentDay && col.month==currentMonth}">
          <span class="wochentag">{{col.name}}</span>
          <span class="datum">{{col.day}}.{{col.month}}.</span>
          <span class="putzdienst">{{col.job}}</span>
        </td>
      </tr>

    </table>
    -->
  </div>

