

  <mat-card>
    <mat-card-title>Putzplan {{year}}</mat-card-title>
    <button mat-button (click)="onPdf()">pdf</button>


  <mat-card-content class="putzplan">

    <table>
      <tr class="monat"><td *ngFor="let m of month">{{m}}</td></tr>
      <tr *ngFor="let row of putzplan">
        <td *ngFor="let col of row">
          <span class="wochentag">{{col.name}}</span>
          <span class="datum">{{col.day}}.{{col.month}}.</span>
          <span class="putzdienst">{{col.job}}</span>
        </td>
      </tr>
    </table>
  </mat-card-content>

  </mat-card>
