<div md-theme="ejw">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Speiseplan Balaton 2015</span>
            <md-button ng-click="onSpeiseplanPdf()">PDF</md-button>
            <span flex></span>
            <md-button ng-click="status=0">Tage im Detail</md-button>
            <!--md-button ng-href="/#ejw">EJW</md-button-->
            <!--<md-button ng-href="/#tischtennis">Tischtennis</md-button>-->
            <!--<md-button ng-href="/#weihnachtsmarkt">Weihnachtsmarkt</md-button>-->
            <md-button ng-click="status=1">Einkaufsliste</md-button>
        </div>
    </md-toolbar>
    <md-card ng-if="status == 1">
        <div layout="row">
            <h1>Einkaufsliste</h1> <md-button ng-click="onPdf()">PDF</md-button>
        </div>
        <section layout="row">
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar>
                    <md-button ng-repeat="shop in shops  | orderBy:'toString()'" ng-click="onShop(shop)">{{shop}}</md-button>
                </md-toolbar>
            </md-sidenav>
            <md-card flex>
                <md-card layout="row">
                    <h2 class="md-headline">{{actShop}}</h2>
                </md-card>

                <md-list-item ng-repeat="e in einkaufsliste | filter:{quelle:actShop} | orderBy:'date'">
                    <p>{{e.menge}} {{ e.name }} ({{e.date | date}})</p>
                </md-list-item>

            </md-card>
        </section>
    </md-card>
    <md-card ng-if="status == 0">
        <section layout="row">
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar>
                    <md-button ng-repeat="day in days" ng-click="onDay(day)">{{day.date | date}}</md-button>
                </md-toolbar>
            </md-sidenav>
            <md-card flex>
                <md-card>
                    <h2 class="md-headline">{{actDay.date | date}}  {{actDay.gericht}}</h2>
                    <span class="md-body-2">{{actDay.nachtisch}}</span>
                    <span class="md-body-1">{{actDay.verantwortlich}}</span>
                </md-card>

                <div layout="row">
                    <md-card flex=25>
                        <h2>Zutaten</h2>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="z in actDay.zutaten">
                                <span class="md-avatar">{{z.menge}}</span>
                                <div class="md-list-item-text">
                                    <h3>{{z.name}}</h3>
                                    <p>{{z.quelle}}</p>
                                </div>
                            </md-list-item>

                        </md-list>
                    </md-card>

                    <md-card flex=25>
                        <h2 ng-if="actDay.zutatenNt.length>0">Zutaten Nachtisch</h2>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="z in actDay.zutatenNt">
                                <span class="md-avatar">{{z.menge}}</span>
                                <div class="md-list-item-text">
                                    <h3>{{z.name}}</h3>
                                    <p>{{z.quelle}}</p>
                                </div>
                            </md-list-item>

                        </md-list>

                    </md-card>
                    <md-card flex>
                        <h2>Rezept / Notizen</h2>
                        <md-content ng-bind-html="actDay.rezept" class="md-body-1">
                        </md-content>
                    </md-card>
                </div>
            </md-card>
        </section>
    </md-card>
</div>
